<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>New Inquire</title>
  </head>
  <body>
    <div class="container">
        {% with messages = get_flashed_messages() %}     
        {% if messages %}                            
            {% for message in messages %}            
                <p>{{message}}</p>                  
            {% endfor %}
        {% endif %}
    {% endwith %}
            <h1 class="p-3 mb-2 bg-danger text-white text-center" >Rapid Rebuildz</h1><br>
            <div class="webpage d-grid gap-3">
            <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse p-2" id="navbarText">
                        <ul class="navbar-nav mr-auto">
                        <li class="nav-item ">
                            <a class="nav-link" href="/dashboard"> Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="/create/inquire">Inquire</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="/builds">Other Builds</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="/contact/us">Contact Us</a>
                        </li>
                        </ul>
                        <span class="nav-item">
                            <a class="nav-item nav-link text-dark" href="/logout">Log Out</a>
                        </span>
                    </div>
                </nav>
            </div>
          
    <form action="/add/build" method="POST">
      <div>
        <h2 class="text-center">Add Your Project Car</h2>
    </div>
      <div class="d-flex p-2">
        <div class="row" >
          <div class="col-md-5">
            <div>
                <label for="name_of_vehicle">Name of Vehicle</label><br>
                <input  type="text" id="name_of_vehicle" name="name_of_vehicle">
              </div>
              <div>
                <label for="amount_spent">Amount Spent</label><br>
                <input  type="number" id="amount_spent" name="amount_spent">
              </div>
              
              <div >
                <label for="suspension" >Suspension</label><br>
                <input  type="text" id="suspension" name="suspension">
              </div>
              <div >
                <label for="wheels">Wheels</label><br>
                <input  type="text" id="wheels"  name="wheels">
              </div>
              <div>
                  <label for="other_info">Additional Information</label>
                  <input type="text" id="other_info" name="other_info">
              </div>
            <div>
                <button type="submit">Add Build</button>
              </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
  </body>
</html>